<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/myproject</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.project.quartz.entity.QrtzBlobTriggersEntity"/>
      <mapping class="com.project.quartz.entity.QrtzCalendarsEntity"/>
      <mapping class="com.project.quartz.entity.QrtzCronTriggersEntity"/>
      <mapping class="com.project.quartz.entity.QrtzFiredTriggersEntity"/>
      <mapping class="com.project.quartz.entity.QrtzJobDetailsEntity"/>
      <mapping class="com.project.quartz.entity.QrtzLocksEntity"/>
      <mapping class="com.project.quartz.entity.QrtzPausedTriggerGrpsEntity"/>
      <mapping class="com.project.quartz.entity.QrtzSchedulerStateEntity"/>
      <mapping class="com.project.quartz.entity.QrtzSimpleTriggersEntity"/>
      <mapping class="com.project.quartz.entity.QrtzSimpropTriggersEntity"/>
      <mapping class="com.project.quartz.entity.QrtzTriggersEntity"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>